/*header img {
  float: right;
  width: 115px;
}*/
/*header h1 {
  float: left;
  font-family: 'Stalemate', cursive;
  z-index: 50;
  font-size: 50px;
  color: #F1ECF5;
}*/
header h2 {
  padding-top: 23%;
  padding-bottom: 23%;
  text-align: center;
  color: #F1ECF5;
  font-family: 'Stalemate', cursive;
  font-size: 50px;
}
.logo {
  position: fixed;
  width: 100px;
  float: left;
  position: fixed;
  background-color: rgba(15, 22, 27, 1);
  z-index: 50;
  padding: 20px;
  margin: 0 20px;
}
.social {
  z-index: 40;
}
.social-top {
  position: fixed;
  width: 100%;
  background-color: rgba(15, 22, 27, .8);
  /*background-color: rgba(0, 0, 0, .5);*/
}
.social-top img {
  float: right;
  z-index: 55;
}
.social img {
  width: 30px;
  padding: 5px;
}
