@media only screen and (max-width: 600px) {
  .projects figure img {
    width: 100%;
  }
  .home {
    height: 150px;
  }
  .column-1, .column-2 {
    width: 100%;
    margin: 0px;
  }
  .column-2 {
    margin-top: 40px;
  }
  .about figure {
    width: 50%;
  }
  .content {
    margin-left: 3%;
    margin-right: 3%;
  }
