.info {
  padding: -4% 2% 3% 2%;
  float: left;
  text-align: left;
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 40px 0px;
  border-top: 1px solid gray;
}
.info h3, h4, h5, h6, p, a {
  color: #777876;;
}
.info h2 {
  color: #B87666;
  font-family: 'Bad Script';
  float: left;
  font-size: 30px;
  font-weight: 700;
  background-color: white;
  margin: -10px auto 0 9px;
  padding: 0 10px;
  text-transform: uppercase;
}
.info h3 {
  font-family: 'Bad Script';
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 40px;
/*  text-decoration: underline;*/
/*  border-bottom: 1px solid #777876;*/
}
.info h4 {
  font-weight: 700;
/*  margin-top: 20px;*/
}
.info h5 {
  font-style: italic;
}
.info a {
  text-decoration: none;
  font-weight: 700;
}
.info a:hover {
  color: #B87666
}
p {
  margin-bottom: 25px;
}
p:last-child {
  margin-bottom: 0px;
}
em {
  font-style: italic;
}
.content {
  margin: 50px 10% 20px 10%;
}
.segment {
  margin-top: 20px;
}
.segment:first-child {
  margin-top: 0;
}
.about figure {
  width: 33%;
}
.projects figure img {
  padding: 0;
  background-color: none;
  width: 50%;
}
figure {
  float: left;
  margin-right: 25px;
  margin-top: 8px;
}
figure img {
  width: 100%;
  height: 100%;
  padding: 2px;
  background-color: #B87666;
}


